a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}
a {
    background-color: transparent;
}

.profiles-gate-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    text-align: center;
}

.profiles-gate-container li {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.profiles-gate-container li.profile {
    width: 10vw;
    max-width: 200px;
    min-width: 84px;
}

.profiles-gate-container li.profile:not(:last-child) {
    margin: 0 2vw 0 0;
}

.profiles-gate-container ul {
    padding: 0;
}

.profiles-gate-container li a {
    text-decoration: none;
}

.profiles-gate-container .centered-div {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.profiles-gate-container .profile-icon {
    height: 10vw;
    width: 10vw;
    max-height: 200px;
    max-width: 200px;
    min-height: 84px;
    min-width: 84px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-color: #333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
}

.profiles-gate-container .profile-icon::after {
    content: '';
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: .3em solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media screen and (min-width: 1666px){
    .profiles-gate-container .profile-name {
        font-size: 24px;
    }
}

.profiles-gate-container .profile-name {
    line-height: 1.2em;
    min-height: 1.8em;
    color: grey;
    display: block;
    text-align: center;
    font-size: 1.3vw;
    margin: .6em 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.profiles-gate-container li a.focused .profile-icon::after, .profiles-gate-container li a:focus .profile-icon::after, .profiles-gate-container li a:hover .profile-icon::after {
    border-color: #e5e5e5;
}

.list-profiles {
    max-width: 80%;
    background: #141414;
}

.list-profiles .gate-label{
    max-width: 100% !important; 
    width: 100%;
    color: #fff;
    font-size: 3.5vw;
}

.list-profiles .choose-profile {
    margin: 2em 0;
    opacity: 1;
    transition: opacity .4s ease-out;
}


.list-profiles .avatar-wrapper {
    position: relative;
}

