@keyframes spinner{
  0%{transform:rotate(0)}
  100%{transform:rotate(360deg)};
}

.akira-spinner{
  font-family: nf-icon;
  color: red;
  display: inline-block;
  animation-duration: 0.75s;
  animation-name: spinner;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.akira-spinner::before{
  content: '\e765';
}