@keyframes spinner{
  0%{transform:rotate(0)}
  100%{transform:rotate(360deg)};
}

.profiles-gate-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: #141414;
  z-index: 0;
}

.profiles-gate-container .centered-div.loading-wrapper {
  opacity: 1;
}
.profiles-gate-container .centered-div {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.profiles-gate-container ul {
  padding: 0;
}

.profiles-gate-container li {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.akira-spinner{
  color: red;
  display: inline-block;
  animation-duration: 0.75s;
  animation-name: spinner;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  font-size: 28.8vw;
  margin-left: -14.4vw;
  margin-top: -14.4vw;
  top: 50%;
  left: 50%;
  position: absolute;
  overflow: hidden;
}

.akira-spinner::before{
  content: '\e765';
}

@media screen and (max-width: 865px){
  .akira-spinner {
      font-size: 249.6px;
      margin-left: -124.8px;
      margin-top: -124.8px;
  }
}

[class^=icon-] {
  font-family: nf-icon;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

.profile-icon {
  height: 10vw;
  width: 10vw;
  max-height: 200px;
  max-width: 200px;
  min-height: 84px;
  min-width: 84px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-color: #333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
}