<div @fade class="profiles-gate-container">
    <div class="centered-div loading-wrapper">
        <div>
            <div class="loading-profile-wrapper">
                <ul style="padding: 0;">
                    <li>
                        <div class="profile-icon" style="background-image: url({{fotoPerfilURL}})"></div>
                        <span class="icon-spinner akira-spinner" aria-hidden="true "></span>
                    </li>
                </ul>  
            </div>
        </div>
    </div>
</div>