.pinning-header {
    height: 70px;
}

.pinning-header .pinning-header-container {
    left: 0;
    right: 0;
    top: 0;
    position: relative;
    z-index: 1;
}


.pinning-header .main-header.menu-navigation:not(.has-billboard):not(.solid) {
    background-color: #141414;
}
.pinning-header .main-header.on-profiles-gate:not(.solid) {
    background-color: transparent;
}

.pinning-header .pinning-header-container .main-header {
    z-index: 2;
    height: 41px;
}

@media screen and (min-width: 950px){
    .pinning-header .pinning-header-container .main-header {
        height: 68px;
    }
}

.pinning-header .main-header.menu-navigation {
    /* background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,rgba(0,0,0,.7)),color-stop(10%,rgba(0,0,0,0))); */
    /* background-image: -webkit-linear-gradient(top,rgba(0,0,0,.7) 10%,rgba(0,0,0,0)); */
    background-image: -moz- oldlinear-gradient(top,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    background-image: -o-linear-gradient(top,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
}

.pinning-header .main-header {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 4%;
    z-index: 2;
    font-size: 1.2rem;
    -webkit-transition: background-color .4s;
    -o-transition: background-color .4s;
    -moz-transition: background-color .4s;
    transition: background-color .4s;
}

@media screen and (min-width: 1500px){
    .pinning-header .main-header {
        padding-top: 0px;
        padding-right: 60px;
        padding-bottom: 0px;
        padding-left: 60px;
    }
}

@media screen and (min-width: 1200px){
    .pinning-header .main-header {
        font-size: 14px;
    }
}

.pinning-header .main-header .logo {
    text-decoration: none;
    font-size: 1.8em;
    color: #e50914;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

@media screen and (min-width: 1150px){
    .pinning-header .main-header .logo {
        margin-right: 25px;
    }
}

@media screen and (min-width: 950px){
    .pinning-header .main-header .logo {
        font-size: 25px;
    }
}


[class*=" icon-"], [class^=icon-] {
    font-family: nf-icon;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}
a {
    background-color: transparent;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.icon-logoUpdate:before {
    content: '\e5d0';
}

